  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
      background-color: black;


  }

  html {
      font-size: 62.5%;
      font-family: 'Poppins', sans-serif;
  }

  :root {
      --yellow: #FFDE00;
      --black: #181818;
      --neon: 382CD47;
  }

  /* ----------------------------------------------------- */
  .two-side {
      display: flex;

  }

  .left-side {
      border-right: 2px solid white;
      max-height: 100vh;
      position: sticky;
      top: 0;
      left: 0;
  }

  .logo {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .logo img {
      width: 10rem;
      margin-top: 5rem;
  }

  .menu {
      margin-top: 5rem;
  }

  ul li {
      color: white;
      list-style: none;
      text-align: left;
      font-size: 2.1rem;
      padding-left: 9rem;
      font-weight: 500;
      transition: 0.3s ease-in-out;
      margin-right: 4rem;
      cursor: pointer;
  }

  li:hover {
      color: var(--yellow);
      transition: 0.3s ease-in-out;
  }

  ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  }


  /* nav bar-------------- */

  .main-u {
      display: flex;
      height: 100vh;
  }

  .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }

  nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
  }


  .left-side {
      max-width: 30%;
  }

  .right-side {
      max-width: 70%;
      margin: 5rem;
  }

.fa-solid{
    color: aliceblue;
    font-size: 2rem;
}



  input {
      background-color: transparent;
      border: 0.5px solid rgba(255, 255, 255, 0.295);
      padding: 13px;
      border-radius: 50px;
      color: aliceblue;
  }

  input::placeholder {
      color: white;
      text-align: center;
      font-size: 1.5rem;
  }

  .icons {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;
  }

  .icons p {
      font-size: 2.1rem;
      color: white;
      transition: 0.3s ease-in-out;
      cursor: pointer;
  }

  .icons p:hover {
      color: var(--yellow);
      transition: 0.3s ease-in-out;
  }


  /* content ------------ */

  .upper {
      margin: 0.5rem;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;

  }

  .upper h1 {
      color: rgb(95, 166, 207);
      text-align: center;
      margin: 1rem auto;
      font-size: 3rem;
      font-weight: 500;
  }

  .upper img {
      width: 25%;
      align-self: center;
  }

  .upper p {
      color: white;
      font-size: 1.8rem;
      font-weight: 100;
  }

  .white-box {
      background-color: aliceblue;
      width: 50%;
      height: 180px;
      padding: 2rem;
      margin-bottom: 20px;
      border-radius: 10px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
  }

  .white-box p {
      color: black;
      font-size: 1.2rem;
  }

  .btn {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
  }

  .btn p {
      color: white;
      font-size: 2.5rem;
  }

  .btn button {
      background-color: rgb(73, 231, 73);
      padding: 1.5rem 2rem;
      font-size: 2rem;
      color: white;
      border-radius: 5rem;
  }

  /* documentation page  */

  .upper p {
      font-size: 2rem;
  }

  .sec {
      display: flex;
      justify-content: space-between;
  }

  .sec p {
      max-width: 60%;
      margin-bottom: 3rem;
  }

  .temp ul li {
      color: rgb(231, 189, 140);
      list-style: none;
      font-size: 1.5rem;
      font-weight: 400;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      text-align: end;
  }

  .temp ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: end;
  }

  .temp h2 {
      color: yellow;
      font-size: 2rem;
      font-weight: 300;
      text-align: left;

  }

  .temp p {
      font-size: 1.5rem;
      text-align: left;
  }

  /* cards */
  .card {

      min-width: 50rem;
      display: flex;
      gap: 2rem;
      background-color: rgb(28, 80, 224);
      padding: 2.5rem;
      border-radius: 1rem;
  }


  /* sponsar */
  .spop p {
      max-width: 100%;
  }

  .sponsar img {
      width: 300px;
  }

  .item {
      background-color: white;
      border-radius: 10px;
      text-align: center;
      padding: 20px;
  }

  .item h5 {
      font-size: 18px;
      margin-bottom: 10px;
  }

  .sponsar {
      display: flex;
      gap: 15px;
  }

  .item p {
      color: rgb(119, 119, 240);
      font-size: 1.5rem;
      font-weight: 600;
  }

  .item3 img {
      border-radius: 10px;
      padding: 20px;
      background-color: white;
  }

  .toggle p {
      font-size: 2.1rem;
      color: white;
      transition: 0.3s ease-in-out;
      cursor: pointer;
  }

.toggle{
    display: none;
}

  @media (max-width:786px) {
    .toggle{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .main-u{
        height: 100vh;
    }
      .left-side {
          display: none;
      }

      .btn {
          display: flex;
          flex-direction: column;
      }

      .btn button {
          font-size: 1.5rem;
      }

      .input input {
          font-size: 1rem;
          align-items: center;
          margin-right: 10px;
          height: 40px;
      }

      .right-side {
          width: 100vw;
      }

      .white-box {
          width: 100%;
      }

      .upper img {
          width: 70%;
          align-self: center;
      }

      .active {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
      }

      .toggle p {
          color: rgb(66, 164, 209);
          font-size: 2.5rem;
      }
      
  }



  /* mobile menu */
  .menumobile{
    max-height: 100vh;
      position: sticky;
      top: 0;
      left: 0;
    background-color: rgb(7, 7, 7);
    width: 100%;
    padding: 2rem;
    display: none;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
  }
  .menumobile ul li{
    color: rgb(255, 25, 25);
    list-style: none;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
 
  a {
text-decoration: none;
color: aliceblue;
  }